<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>agents list</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="search-div">
    <form action="/secret_agents" method="POST" class="form-search">
        <input type="text" class="search" name="search">
        <button type="submit" class="butt">Search</button>
    </form>
</div>
<div class="container">
        <h1>Agent List</h1>
        <div class="agent-list">
            {% for agent in secret_agents %}
                <div onclick="location.href='/agent/{{agent.id}}';" class="agent_func_name">
                    <span>{{agent.secret_name }}</span>
                    <div class="agent_func">
                        <a href="/edit/{{agent.id}}" class="func">
                            <div>Edit</div>
                        </a>
                        <a href="/delete/{{agent.id}}" class="func">
                            <div>Delete</div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div>
            <a href='/add' class="to-other-page">Add New Task</a>
        </div>
</div>
<div class="del_all maxi"  onclick="location.href='/delete_all';">
    <div class="del_all"></div>
</div>
</body>
</html>