{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block h1 %}Contact Us{% endblock %}
{% block content %}
<div class="good-message">{{ message }}</div>

<form class="form-contact" method="POST" action="/submit">
    <label for="name">Your Name:</label>
    <input id="name" name="name" type="text" required>
    <label for="email">Your Email:</label>
    <input id="email" name="email" type="email" required>
    <label for="message">Your Message:</label>
    <textarea id="message" name="message" required></textarea>
    <button type="submit">Send</button>


</form>
{% endblock %}
