<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Flask</h1>
    <p>This is the home page of our Flask application.</p>
    <ul>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contacts</a></li>
    </ul>
    <img src="https://i.pinimg.com/736x/2f/c3/dd/2fc3dd6655e1c3d915f46d823e93d14a.jpg">
    <table border="1px">
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>5</td>
            <td>6</td>
        </tr>
    </table>
</body>
</html>